# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://tu-proyecto.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIs...
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIs...

# Admin
ADMIN_WHATSAPP_FALLBACK=591XXXXXXXXX

# Site
NEXT_PUBLIC_SITE_URL=https://e-m-store.vercel.app
